body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:white;
}

.container {
  text-align: center;
}

.hidden {
  display: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color:pink;
  border: 2px solid #333;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.cell:hover {
  background-color: #f1f1f1;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Highlight winning cells */
.winner {
  background-color: purple !important;  /* light green */
  border-color: black;
}
